.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

/* Hi My Name Is */
.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: white;
  height: 50px;
}

/* I am a Senior */
.about .prompt {
  width: 40%;
  font-size: 20px;
}

/* Icons under 'I am a Senior' */
.prompt svg {
  font-size: 40px;
  margin: 5px;
  color: white;
}

.prompt a:hover svg {
  fill: rgb(67, 67, 219); /* Change the fill color on hover */
  transition: 0.5s;
}

/* Technical Skills */
.skills {
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: black;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

.item h2 {
  color: black;
}

.item span {
  color:#3e497a;
}

/*  the enclosed CSS styles will only apply when the screen width is 770 pixels or less */
@media only screen and (max-width: 770px) {

  .about h2 {
    font-size: 35px;
  }

  .about .prompt {
    margin-top: 15px;
    font-size: 20px;
    width: 60%;
  }

  /* Icons under 'I am a Senior' */
  .prompt svg {
    font-size: 30px;
    margin: 5px;
    color: white;
  }


}

/*  the enclosed CSS styles will only apply when the screen width is 600 pixels or less */
@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 30px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 15px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h1 {
    font-size: 25px;
  }

  .skills h2 {
    font-size: 20px;
  }
  .list span {
    font-size: 15px;
  }
  .list span ul li{
    font-size: 15px;
  }
  /* Icons under 'I am a Senior' */
  .prompt svg {
    font-size: 20px;
    margin: 5px;
    color: white;
  }
}